.messages {
  height: 75vh;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.messages__header {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 0 20px 15px 20px;
}

.messages-list {
  overflow-y: scroll;

  flex-grow: 1;
}

.message {
  margin: 15px 20px;
}
