.channels {
  background-color: #161616;
  color: #ffffff;
  width: 20%;
  height: 100vh;
}

.channels__header {
  margin: 20px 0 10px 10px;
  font-size: 1rem;
  font-weight: bold;
}

.channel {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.channel--active {
  background-color: #303030;
  font-weight: bold;
}

.channel__text {
  margin-left: 10px;
}

.channel-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #26acf2;
}
